<h1>Loading Delay Operator</h1>

<h3>Debounce Operator</h3>
<button (click)="load$.next()">Load</button>
<button (click)="cancel$.next()">Cancel/Reset</button>

<div *ngIf="data$ | async as data">
  <p *ngIf="data.state === 'success'">{{ data.data }}</p>
  <p *ngIf="data.state === 'initial'">initial</p>
  <p *ngIf="data.state === 'pending'">pending</p>
</div>

<h3>Delay Operator</h3>
<button (click)="load2$.next()">Load</button>
<button (click)="cancel2$.next()">Cancel/Reset</button>

<div *ngIf="data2$ | async as data">
  <p *ngIf="data.state === 'success'">{{ data.data }}</p>
  <p *ngIf="data.state === 'initial'">initial</p>
  <p *ngIf="data.state === 'pending'">pending</p>
</div>
